<nav class="zb-top shadow p-1 navbar navbar-expand-sm">
    <div class="container-fluid">
        <a href="./index.html"><img src="./img/title.png" class="d-inline-block align-text-top" style="margin: 5px;"
                height="30"></a>
        <a class="navbar-brand">项目中心</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="background-color: rgba(255, 255, 255, 0);">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./index.html">主页</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Python
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./program.html">zb小程序</a></li>
                        <li><a class="dropdown-item" href="./zbToolLib.html">zb工具库</a></li>
                        <li><a class="dropdown-item" href="./zbMcLib.html">zbMinecraft库</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Java
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./zbCraft.html">zbCraft</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        网站
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://ianzb.github.io/">个人网站</a></li>
                        <li><a class="dropdown-item" href="https://ianzb.github.io/cm/">CM官网</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="https://www.ianzb.cn/">服务器</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        其他
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./zbTranslationPack.html">zb翻译包</a></li>
                        <li><a class="dropdown-item" href="./client.html">个人客户端</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./about.html">关于</a>
                </li>
            </ul>
        </div>
    </div>
</nav>